.o-works-article
  font-family 'Sawarabi Gothic', sans-serif

  h2
    position relative
    margin 100px 15vw 0
    line-height 1.5
    font-size 50px

    &::before
      content ''
      position absolute
      width 5vw
      height 10px
      left -7vw
      top 32.5px
      border-radius 5px
      background-color lightgray

  p
    margin 40px 15vw 0

  & > .m-list-table
    width 70vw
    margin 40px 15vw 0
