.o-footer
  margin 100px auto 0
  padding 50px 100px 50px 300px
  font-family 'Ropa Sans', sans-serif

  &__copy
    font-size 14px

@media screen and (max-width: 864px)
  .o-footer
    padding 24px

    &__copy
      font-size 12px
