.o-nav
  display flex
  height 100%
  align-items center
  line-height 1
  font-size 32px
  font-family "Ropa Sans", sans-serif

  &__sp-menu-button
    display none

  &__sp-menu
    display none

  &__pc-menu
    padding 40px 20px
    border-radius 4px
    background-color transparent
    opacity 0.5
    transition-property opacity, background-color, box-shadow
    transition-duration 0.5s
    transition-timing-function $bezier

    &:hover
      opacity 1.0
      background-color #fff
      box-shadow 6px 6px 24px rgba(0, 0, 0, 0.1)

    & > li
      position relative
      z-index 1
      text-align center
      color #666
      transition color 0.5s $bezier

      & > a
        display block
        padding 10px

      &::before
        content ''
        position absolute
        width 0%
        height 0%
        left 50%
        top 50%
        border-radius 50%
        z-index -1
        background-color $green
        transition-property width, height, left, top, border-radius
        transition-duration 0.5s
        transition-timing-function $bezier

      &:hover
        color #fff

        &::before
          width 100%
          height 100%
          left 0
          top 0
          border-radius 12px

      & + li
        margin-top 20px

@media screen and (max-width: 864px)
  .o-nav
    display block
    width 100%
    height 100%
    transition height 0.5s, background-color 0.5s
    transition-timing-function $bezier
    pointer-events none

    &__pc-menu
      display none

    &__sp-menu-button
      display flex
      position absolute
      width 56px
      height 56px
      right 16px
      top 16px
      margin 0 0 0 auto
      border-radius 50%
      justify-content center
      align-items center
      background-color #fff
      pointer-events auto
      cursor pointer
      z-index 10

    &__sp-menu
      display block
      width 100%
      height 100%
      margin 0 0 0 auto
      padding 80px 24px 40px
      transform translateX(100%)
      box-sizing border-box
      overflow auto
      background-color $green
      -webkit-overflow-scrolling touch
      transition transform 0.5s cubic-bezier(0.7, 0.0, 1.0, 0.3) 0.5s

      & > li
        width 200px
        margin-left auto
        text-align right
        transform translateX(100vw)
        transition-property transform
        transition-timing-function cubic-bezier(0.7, 0.0, 1.0, 0.3)
        transition-duration 0.5s
        z-index 8

        & + li
          margin-top 12px

        & > a
          display block
          padding 10px

        for i in (1..10)
          &:nth-child({i})
            transition-delay 0.1s * i

        &::before
          display none

    &--sp-menu-visible
      pointer-events auto

      .o-nav__sp-menu
        transform translateX(0)
        transition transform 0.5s $bezier 0

        & > li
          transform translateX(0)
          transition-timing-function $bezier
