.t-general
  box-shadow inset 0 10px $green;

  &__normal-layout
    max-width 1200px
    margin 0 auto
    padding 0 100px 0 300px
    transition padding 0.5s

  .o-nav
    position fixed
    left 80px
    z-index 100

@media screen and (max-width: 864px)
  .t-general
    &__normal-layout
      padding 0 24px

    .o-nav
      position fixed
      left 0
      top 0
