.t-general
  &__normal-layout
    max-width 1200px
    margin 0 auto
    padding 0 100px 0 300px

  .o-nav
    display flex
    position fixed
    left 80px
    height 100%
    align-items center
    z-index 100
