.o-news-section
  max-width 1200px
  margin 0 atuo
  padding-top 100px

  & + .o-news-section
    margin-top 50px

  &__title
    margin-bottom 1em
    font-size 40px
    font-family "Ropa Sans"

  &__content
    line-height 1.8
    letter-spacing 0.04em
    font-family 'Sawarabi Gothic', serif
    text-align justify

    h1, h2, h3, h4, h5, h6
      margin 0.7em 0 0.3em

    h1
      font-size 32px

    h2
      font-size 24px

    h3
      font-size 20px

    p + p
      margin-top 20px
