.o-home-section
  max-width 1200px
  margin 0 auto
  padding-top 50px

  & + .o-home-section
    margin-top 50px

  &__title
    margin-bottom 1em
    font-size 40px
    font-family "Ropa Sans"

  &__content
    line-height 1.8
    letter-spacing 0.08em
    font-family 'Sawarabi Gothic', serif;
    text-align justify
