.o-dl-section
  display flex
  height 100vh
  justify-content center
  align-items center
  flex-wrap wrap
  font-family 'Sawarabi Gothic', sans-serif;

  &__inner
    max-width 1000px
    margin 0 auto

  &__title
    width 100%
    margin-bottom 30px
    font-size 15px
    color #666
